<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Read (One)</title>
</head>
<body>
    <div id="flexbox">
        <h1>User {{ user.id }}</h1>
        <div id="user-card">
            <h2>Full Name: {{ user.first_name + ' ' + user.last_name }}</h2>
            <h2>Email: {{ user.email }}</h2>
            <h2>Created At: {{ user.created_at }}</h2>
            <h2>Update At: {{ user.updated_at }}</h2>
        </div>
    </div>
</body>
</html>