<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <title>Playground 1</title>
</head>
<body>
    <div id="welcome">
        <h1>Welcome</h1>
    </div>
    <div class="d-flex flex-row gap-25">
        {% for i in range(boxes) %}
        <div id="box" class="d-flex">{{i}}</div>
        {% endfor %}
    </div>
</body>
</html>