<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Read (All)</title>
</head>
<body>
    <h1>All Users</h1>
    <table class="table">
        <thead>
            <tr>
                <td scope="col">id</td>
                <td scope="col">Full Name</td>
                <td scope="col">Email</td2>
                <td scope="col">Created At</td>
                <td scope="col">Actions</td>
            </tr>
        </th>
        {% for user in users %}
        <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.first_name + ' ' + user.last_name }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.created_at }}</td>
            <td><a href="/users/{{user.id}}">Show</a> | <a href="/users/{{user.id}}/edit">Edit</a> | <a href="/users/{{user.id}}/delete">Delete</a></td>
        </tr>
        {% endfor %}
    </table>
    <a href="/users/new">Add a New User</a>
</body>
</html>